@import url('https://fonts.googleapis.com/css?family=Geo');
$mobile-breakpoint: 545px;
$header-font: 'Geo',
'sans serif';

header {
    font-family: $header-font;
}

#navbar {

    a {
        text-decoration: none;
        color: black;
        font-style: bold;

        li {
            &:hover {
                -webkit-box-shadow: 0px 2px 13px -1px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 2px 13px -1px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 2px 13px -1px rgba(0, 0, 0, 0.75);
            }

        }
    }

    ul {
        list-style: none;
    }

    @media screen and (max-width: $mobile-breakpoint) {
        header {
            text-align: center;
            font-size: x-large;
        }

        ul {
            border: 1px solid black;
            margin: 0;
            padding: 0;
            height: 25vh;
            overflow-y: auto;

            li {
                text-align: center;
                padding: 0.5rem;
                font-family: $header-font;
            }
        }

    }
}

#main-doc {
    section {
        padding: 2rem;
    }

    code {
        &.inline {
            display: inline;
            padding: 0.2rem;
        }

        background-color: hsla(190, 6%, 61%, 0.199);
        padding: 0.5rem;
        display: block;
        white-space: pre-line;

    }
}